{#
Creates a table representing the complete lifecycle of data over the course of
an alter hook invocation.
#}
<div class="hookalyzer-alter">
  <span class="hookalyzer-table-title">{{ 'Alter hook data trace for'|t }} <em>{{ cid }}</em></span>
  <table class="hookalyzer-passes">
    <tr>
      <th>{{ 'Implementor'|t }} </th>
      <th>{{ 'Diff'|t }}</th>
    </tr>
    {% for collection in collections %}
    <tr class="hookalyzer-alter-pass">
      <td class="hookalyzer-pass-name">{{ collection.getName }}</td>
      <td class="hookalyzer-alter-diffs hookalyzer-pass-{{ collection.getName }}">
        <table class="hookalyzer-diffs">
          <tr>
            <th>{{ 'Key'|t }}</th>
            <th>{{ 'Type'|t }}</th>
            <th>{{ 'Diff'|t }}</th>
            <th>{{ 'Other info'|t }}</th>
          </tr>
        {% for id, diff in collection %}
          <tr class="{{ diff.class }}">
            <td>{{ id }}</td>
            <td>{{ diff.getType }}</td>
            <td>{{ diff.getVisualDiff }}</td>
            {# specific to strings; generalize this #}
            <td>{{ diff.getSimilarity }}</td>
          </tr>
        {% endfor %}
        </table>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>
